<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard | PizzaCreed</title>
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lemon&display=swap" rel="stylesheet">

    <style>
        .fnt-lemon {
            font-family: 'Lemon', cursive;
        }
    </style>
</head>
<body class="bg-[radial-gradient(ellipse_at_top_right,_var(--tw-gradient-stops))] from-[#000315] via-[#150600] to-black">
<div class="container mx-auto mt-5 p-5">
    <div class="flex justify-end gap-3 items-center">
        <a class="btn bg-red-600 hover:bg-red-700 text-white" th:href="@{/login}">Logout</a>
        <p th:if="${username}" class="text-blue-600">Logged in as <span class="font-bold" th:text="${username}"></span></p>
    </div>

    <h1 class="text-center text-blue-600 text-4xl fnt-lemon mt-5">Welcome to Pizza-Creed 🍕🍕</h1>

    <!-- Navigation links -->
    <nav class="bg-white shadow-md rounded mt-5 p-4">
        <ul class="flex space-x-4 justify-center">
            <li>
                <a class="text-blue-600 hover:text-blue-800" href="/addPizza">Add Pizza</a>
            </li>
            <li>
                <a class="text-blue-600 hover:text-blue-800" href="/menu">Menu</a>
            </li>
        </ul>
    </nav>

    <!-- Display pizza count -->
    <div class="mt-5">
        <p class="bg-blue-100 text-blue-600 font-mono p-3 text-center rounded">Total Pizzas: <span class="font-bold px-2 bg-green-100 text-green-600 rounded" th:text="${pizzaCount}">0</span></p>
    </div>

    <div class="mt-5">
        <!-- Display the banner image -->
        <img src="/images/pizza-banner.jpg" alt="Pizza Banner" class="w-full h-64 object-cover rounded mx-auto">
    </div>
</div>
</body>
</html>
